.card {
  padding: 30px;
  border-radius: 20px;
  background-color: lightseagreen;
  font-size: 40px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn {
  display: grid;
}
.btn-content {
  font-size: 20px;
  background-color: coral;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
}
